/* Dashboard.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.date-range-selector,
.asset-class-selector,
.asset-selector {
  flex: 1 1 100%;
  margin-bottom: 10px;
}

.dashboard-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.date-range-selector,
.asset-class-selector,
.asset-selector {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .date-range-selector {
    flex: 0 0 calc(50% - 10px);
  }

  .asset-class-selector,
  .asset-selector {
    flex: 0 0 calc(50% - 10px);
  }
}

.charts-container {
  display: flex;
  gap: 25;
  background: #fff;
  border-radius: 16px;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07); */
  margin: 20px 0;
}

.chart {
  padding: 20px;
}

@media (min-width: 768px) {
  .chart {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (min-width: 600px) {

  .date-range-selector,
  .asset-class-selector,
  .asset-selector {
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media (min-width: 768px) {

  .date-range-selector,
  .asset-class-selector,
  .asset-selector {
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media (min-width: 992px) {

  .date-range-selector,
  .asset-class-selector,
  .asset-selector {
    flex: 1 1 calc(33.33% - 10px);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsive font sizes */
body {
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Add more responsive styles as needed */

.heading {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.charts-full-wrap {
  width: 100%;
}

.title-blocks {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.chartsstyle {
  font-size: 12px;
}

.table-wrap {
  padding: 20px;
  background: #fff;
  border-radius: 14px;
  width: 100%;
}

.port-val {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.port-val h4 {
  font-size: 16px;
  margin-top: 0;
}

.portfolio-value {
  color: #0052cc;
  font-weight: 600;
  margin-top: 0;
}

.table-wrap th {
  border-color: #1199ee;
  background: #1199ee;
  color: #fff;
  font-size: 14px;
}

.table-wrap td {
  border-color: #ededed;
  color: #000;
  font-size: 14px;
}

.dashboard-controls-top {
  padding: 20px 5px;
  background: #fff;
  border-radius: 14px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.as-sector {
  width: 50%;
  padding: 0 15px;
}

.as-sector label {
  font-size: 14px;
  margin-bottom: 10px;
}